body{
    background-color: #F9F9F9 !important;   
}
button:focus-visible ,.updatefield:focus-visible, .form-floating input:focus-visible {
    outline: none !important;
}
.btn-click{
    background-color:  #26a69a !important;
    border: 0px solid transparent !important;
    color: white;
}
.btn-click:hover{
    background-color:  #26a699bb !important;
    border: 0px solid transparent !important;
    color: white;
}
.heading{
    font-size: 2rem;
    text-align: center;
    color:rgb(158, 152, 152);
    font-weight:700 ;    
}
/*  */
.tableName{
    display: block;
    text-decoration: none !important;
    background-color: red;
    margin: 1px 0px;
    padding:4px;
    text-align: center;
    font-size: 20px;
    border-radius: 3px;
    background-color: rgb(32, 32, 32);
    color:#eeecec ;
    border: 1px solid transparent;
    transition: all .5s;
}
.tableName:hover{
    color: rgb(32, 32, 32);
    background-color:#eeecec ;
    border-color:#05050536 ;
}
.sub-heading{
    font-size: 1.5rem;
    color:rgb(75, 73, 73);
    font-weight:700 ;  
    padding-left: 2px;
}
.bdr{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.253);
    padding:0 1px 25px;
    border-radius:5px ;
}
/*  */
.tCell{
    border: 1px solid lightgray;
}
/*  */
.addCell {
    border: 1px solid rgba(0, 0, 0, .1);
    margin:1px;
    max-width: 15% !important;
}
.addBtn {
    width: 100px; 
    margin-bottom: 1px;
    background-color: lime ;
    color: rgba(0, 0, 0, 0.651);
    font-weight:500;
}
.addBtn:hover {
background-color: rgb(97, 247, 37);
}
.addBox {
    border: 1px solid rgba(211, 211, 211, 0.568);
    margin-bottom: 10px;
    padding: 5px 5px 10px;
    border-radius: 5px;
    background-color: rgba(198, 201, 255, 0.336);
}
/*  */
.updataForm{
    background-color: rgba(0, 0, 139, 0.986);
    display: none;
}
